section.contact {
  background: url(../assets/images/contact.jpg) no-repeat bottom;
  background-size: cover;
  padding: 100px 20px;

  .contact-title {
    text-align: center;
    color: seashell;
  }

  .contact-about {
    text-align: center;
    color: seashell;
  }
}
