//**CONTAINER**//
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 840px,
) !default;
//$container-max-widths: (
//        sm: 540px,
//        md: 720px,
//        lg: 960px,
//        xl: 1140px,
//        //xxl: 1320px
//) !default;

$body-color: #fff !default;

//**BUTTONS**//
$danger: #FC551E !default;
$btn-font-size: 10px !default;
$btn-padding-y: 8px !default;
$btn-padding-x: 20px !default;
$btn-border-width: 0 !default;
$btn-border-radius: 0 !default;
$btn-font-weight: 500 !default;

//INPUTS
$input-border-radius: 0 !default;
$input-font-size: 1em !default;






